<div class="container-trip">
<h3><%= link_to trip.name, trip_path(trip) %></h3>

<p>
	<i class="fa fa-calendar"></i> <%= trip.begin_date.blank? ? "" : trip.begin_date  %>
	~ 
	<i class="fa fa-calendar"></i> <%= trip.end_date.blank? ? "" : trip.end_date  %>
</p>

<% if trip.user != current_user %>
	<p>Created by <%= trip.user.fullname %></p>
<% else %>
	<p>Created by me</p>

	<p>	
		<%= link_to 'Edit', edit_trip_path(trip), class: "btn btn-warning btn-xs" %>
		<%= link_to 'Delete', trip_path(trip), class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>
	</p>
<% end %>
</div>