<% if @trip.stops.blank? %>

	<%= render "trip_info" %>

	<h3 align="center">Currently no stop on this trip.</h3>


	<% if can? :update, @trip %>
		<div class="text-center">
			<button id="add_stop" class="btn btn-primary">Add A Stop</button>
		</div>
	<% end %>	

<% else %>
	<div class="row">	
		<div class="col-md-8">
			<%= render "trip_info" %>
		</div>
		<div class="col-md-4">
		
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-8">

			<%#= render "search_for_stop" %>		

			
			<div class="text-center">
				<% if can? :update, @trip %>
					<button id="add_stop" class="btn btn-primary">Add A Stop</button>
				<% end %>	
				<%= link_to "View Big Map", big_map_trip_path(@trip), class: "btn btn-success" %>
				<%= link_to 'Clone Trip', clone_trip_trip_path(@trip), method: :post, class: "btn btn-info" %>
			</div>
			
			<!-- google map -->
			<div id="map_trip_stops"></div>

			<h3>Comments</h3>
			<!-- show comments only if there are stops on a trip -->
			<%= render @trip.comments if !@trip.comments.blank? %>
			<%= render "comments/form" %>
		</div>

		<div class="col-md-4">
			<h3 class="show_number_stops">Currently <%= pluralize(@trip.stops.size, 'stop') %> on this trip:</h3>
			<!-- <table class="table table-stops"> -->
			<ol class="all-trip-stops">
				<%= render @trip_stops_ranked %>
			</ol>
			<!-- </table> -->
		</div>
	</div><!--  /row -->

<% end %>





<!-- modal popup -->
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<i class="fa fa-times-circle-o fa-lg"></i>
        </button><br>  	
      </div>
      <div class="modal-body">
		<iframe src="" frameborder="0" width="865px;" height="550px;"></iframe>
      </div>
      <div class="modal-footer"></div>
  </div>
</div>


<!-- modal script -->
<script>

$('#add_stop').click(function(){

	$('.modal').on('shown.bs.modal',function(){
	  $(this).find('iframe').attr('src','<%= trip_search_stop_path(@trip) %>')
	})

	$('.modal').on('hidden.bs.modal', function () {
 	  location.reload();
	})

    $('.modal').modal({show:true})
    
    $('iframe').load(function() {
    $('.loading').hide();
});
    
})
</script>







<!-- google map script -->
<script>

<% if !@trip.stops.blank? %>

handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map_trip_stops'}}, function(){
  markers = handler.addMarkers(<%= @hash_trip_stops.to_json.html_safe %>);

	<% if @trip.stops.size == 1 %>
		// to center on a marker
		handler.map.centerOn(markers[0]); 
		// to set the map zoom
		handler.getMap().setZoom(4);
	<% else %>
		handler.bounds.extendWith(markers);
		handler.fitMapToBounds();
	<% end %> 

  polylines = handler.addPolylines(
    [
		<%= @hash_trip_stops.to_json.html_safe %>    
	],
    { 
		strokeColor: "#b94a48",
		strokeOpacity: 0.5	,
		strokeWeight: 5,
    }
  );

  handler.bounds.extendWith(polylines);

});

<% end %>

</script>

