<div class="row trip-heading">
	<div class="col-md-12">
		<div class="trip-info">
			<h1>
				<%= @trip.name %>&nbsp;
				<%= link_to 'Edit Trip Info', edit_trip_path(@trip), class: "btn btn-warning btn-sm" %> 
				<%= link_to 'Clone Trip', clone_trip_trip_path(@trip), method: :post, class: "btn btn-success btn-sm" %>
			</h1>

			<h4>
				<i class="fa fa-calendar"></i> <%= @trip.begin_date.blank? ? "" : @trip.begin_date  %>
				~ 
				<i class="fa fa-calendar"></i> <%= @trip.end_date.blank? ? "" : @trip.end_date  %>
			</h4>

			<p><%= @trip.description %></p>
		</div>
	</div>
</div>
<div class="row">

	<% if @trip.stops.blank? %>
		
		<h3 align="center">Currently no stop on this trip.</h3>
		<%= render "search_for_stop" %>
		<%= render @trip.comments if !@trip.comments.blank?%>
		<%= render "comments/form" %>
		
	<% else %>

		<div class="container-trip-stops">

			<div id="map_trip_stops"></div>
			<%= render "search_for_stop" %>

			<div class="col-md-6">

				<h3>Currently <%= pluralize(@trip.stops.size, 'stop') %> on this trip:</h3>
				<ol><%= render @trip.stops.order("begin_date ASC") %></ol>
			</div>
			<div class="col-md-6">
				<%= render @trip.comments if !@trip.comments.blank? %>
				<%= render "comments/form" %>
			</div>

		</div> <!-- /container-trip-stops -->
	<% end %>

</div> <!-- /row -->






<!-- google map script -->
<script>

<% if !@trip.stops.blank? %>

handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map_trip_stops'}}, function(){
  markers = handler.addMarkers(<%= @hash_trip_stops.to_json.html_safe %>);

	<% if @trip.stops.size == 1 %>
		// to center on a marker
		handler.map.centerOn(markers[0]); 
		// to set the map zoom
		handler.getMap().setZoom(4);
	<% else %>
		handler.bounds.extendWith(markers);
		handler.fitMapToBounds();
	<% end %> 

  polylines = handler.addPolylines(
    [
		<%= @hash_trip_stops.to_json.html_safe %>    
	],
    { 
		strokeColor: "#b94a48",
		strokeOpacity: 0.5	,
		strokeWeight: 5,
    }
  );

  handler.bounds.extendWith(polylines);

});

<% end %>

</script>

