<h1>Trip Details</h1>
<p>Trip name: <%= @trip.name %></p>
<p>Start date: <%= @trip.begin_date %></p>
<p>End date: <%= @trip.end_date %></p>
<p>Create by: <%= @trip.user.email %></p>
<p>
	<%= link_to 'Edit', edit_trip_path %> |
	<%= link_to 'Delete', trip_path, method: :delete, data: {confirm: 'Are you sure?'} %></p>
</p>

<p> <%= link_to '<< Back To All Trips', trips_path %></p>

<hr>

<% if @trip.stops.blank? %>
	<p>The current trip does not have any stop.</p>
<% else %>
	<p>Current stops on your trips:</p>
	<%= render @trip.stops %>
<% end %>

<hr>

<%= simple_form_for :search, url: trip_path, method: :get do |f| %>
	<%= f.input :destination, label: 'Search for a destination to add to your trip:'%>
	<%= f.submit 'Search' %>
<% end %>

<hr>

<% if params[:search] %>
	<%= render 'search_results' %>
<% end %>
