<div class="row trip-heading">
	<div class="col-md-7">
		<div class="trip-info">
			<h1><%= @trip.name %>&nbsp;<%= link_to 'Edit', edit_trip_path(@trip), class: "btn btn-warning btn-sm" %></h1>

			<h4>
				<i class="fa fa-calendar"></i> <%= @trip.begin_date.blank? ? "" : @trip.begin_date  %>
				~ 
				<i class="fa fa-calendar"></i> <%= @trip.end_date.blank? ? "" : @trip.end_date  %>
			</h4>

			<p><%= @trip.description %></p>
		</div>
	</div>
	<div class="col-md-5">		
	</div>
</div>
<div class="row">
	<div class="col-md-7">
		<!-- show stops on a trip -->
		<div class="container-trip-stops">
			<% if @trip.stops.blank? %>
				<p>You haven't created any stop on this trip.</p>
			<% else %>
				<!-- google map showing all stops -->
				<div id="map_trip_stops"></div>

				<h3><%= pluralize(@trip.stops.size, 'stop') %> on this trip:</h3>
				<ol>
					<%= render @trip.stops.order("begin_date ASC") %>
				</ol>

			<% end %>
		</div>

	</div><!--  /col -->


	<div class="col-md-5">
		<div class="panel panel-search">
			<!-- user searches for a destination that could be a country, region or city -->
			<div class="search-stop">
				<h3>Add a stop to your trip</h3>
	     		<%= form_tag trip_path, class: "form-inline", method: :get do %>
	            	<%= text_field_tag :search, params[:search], class: "form-control margin-search-action" %>
	                <%= submit_tag "Search", class: "btn btn-primary btn-sm margin-search-action" %>
				<% end %>
			</div>

			<!-- return search result -->
			<div class="search-results">
				<% if params[:search] %>
					<h4>Search results returned:</h4>
					<%= render 'search_results' %>
				<% end %>
			</div>
		</div>
	</div><!--  /col -->
</div>


<!-- google map script -->
<script>

<% if !@trip.stops.blank? %>

handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map_trip_stops'}}, function(){
  markers = handler.addMarkers(<%= @hash_trip_stops.to_json.html_safe %>);

	<% if @trip.stops.size == 1 %>
		// to center on a marker
		handler.map.centerOn(markers[0]); 
		// to set the map zoom
		handler.getMap().setZoom(4);
	<% else %>
		handler.bounds.extendWith(markers);
		handler.fitMapToBounds();
	<% end %> 

  polylines = handler.addPolylines(
    [
		<%= @hash_trip_stops.to_json.html_safe %>    
	],
    { 
		strokeColor: "#b94a48",
		strokeOpacity: 0.5	,
		strokeWeight: 5,
    }
  );

  handler.bounds.extendWith(polylines);

});

<% end %>

<% if !@city_results.blank? %>
	handler_city_results = Gmaps.build('Google');
	handler_city_results.buildMap({ provider: {}, internal: {id: 'map_city_results'}}, function(){
	  markers = handler_city_results.addMarkers(<%= @hash_city_results.to_json.html_safe %>);
	  
		<% if @city_results.size == 1 %>
			// to center on a marker
			handler_city_results.map.centerOn(markers[0]); 
			// to set the map zoom
			handler_city_results.getMap().setZoom(4);
		<% else %>
	  		handler_city_results.bounds.extendWith(markers);
	  		handler_city_results.fitMapToBounds();
	  	<% end %>

	});
<% end %>

</script>

