<% if @trip.stops.blank? %>
	<div class="row">
		<div class="col-md-12">
			<%= render "trip_info" %>
		</div>
		<div class="col-md-12">
			<h3>Currently no stop on this trip.</h3>
			<%= render "search_for_stop" %>
		</div>
	</div>

<% else %>
	<div class="row">	
		<div class="col-md-7">
			<%= render "trip_info" %>
		</div>
		<div class="col-md-5">
		
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-7">

			<%= render "search_for_stop" %>				
			
			<!-- google map -->
			<div id="map_trip_stops"></div>

			<h3>Comments</h3>
			<!-- show comments only if there are stops on a trip -->
			<%= render @trip.comments if !@trip.comments.blank? %>
			<%= render "comments/form" %>
		</div>

		<div class="col-md-5">
			<h3 class="show_number_stops">Currently <%= pluralize(@trip.stops.size, 'stop') %> on this trip:</h3>
			<!-- <table class="table table-stops"> -->
			<ol class="all-trip-stops">
				<%= render @trip_stops_ranked %>
			</ol>
			<!-- </table> -->
		</div>
	</div><!--  /row -->

<% end %>






<!-- google map script -->
<script>

<% if !@trip.stops.blank? %>

handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map_trip_stops'}}, function(){
  markers = handler.addMarkers(<%= @hash_trip_stops.to_json.html_safe %>);

	<% if @trip.stops.size == 1 %>
		// to center on a marker
		handler.map.centerOn(markers[0]); 
		// to set the map zoom
		handler.getMap().setZoom(4);
	<% else %>
		handler.bounds.extendWith(markers);
		handler.fitMapToBounds();
	<% end %> 

  polylines = handler.addPolylines(
    [
		<%= @hash_trip_stops.to_json.html_safe %>    
	],
    { 
		strokeColor: "#b94a48",
		strokeOpacity: 0.5	,
		strokeWeight: 5,
    }
  );

  handler.bounds.extendWith(polylines);

});

<% end %>

</script>

