<h1>Trip Details</h1>

<%= render partial: 'trip', locals: { trip: @trip}  %>


<p> <%= link_to '<< Back To All Trips', trips_path %></p>

<hr>

<!-- show stops on a trip -->
<% if @trip.stops.blank? %>
	<p>Currently you have no stop on this trip.</p>
<% else %>
	<p>Currently you have <%= pluralize(@trip.stops.size, 'stop') %> on this trip.</p>
	<%= render @trip.stops %>
<% end %>

<hr>

<!-- user searches for a destination that could be a country, region or city -->
<%= simple_form_for :search, url: trip_path, method: :get do |f| %>
	<%= f.input :destination, label: 'Search for a destination to add to your trip:'%>
	<%= f.submit 'Search' %>
<% end %>

<hr>

<!-- return search result -->
<% if params[:search] %>
	<%= render 'search_results' %>
<% end %>
