<div class="row trip-heading">
	<div class="col-md-7">
		<div class="trip-info">
			<h1>
				<%= @trip.name %>&nbsp;
				<%= link_to 'Edit Trip Info', edit_trip_path(@trip), class: "btn btn-warning btn-sm" %> 
				<%= link_to 'Clone Trip', clone_trip_trip_path(@trip), method: :post, class: "btn btn-success btn-sm" %>
			</h1>

			<h4>
				<i class="fa fa-calendar"></i> <%= @trip.begin_date.blank? ? "" : @trip.begin_date  %>
				~ 
				<i class="fa fa-calendar"></i> <%= @trip.end_date.blank? ? "" : @trip.end_date  %>
			</h4>

			<p><%= @trip.description %></p>
		</div>
	</div>
	<div class="col-md-5">		
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<!-- show stops on a trip -->
		<div class="container-trip-stops">
			<% if @trip.stops.blank? %>
				<p align="center">You haven't created any stop on this trip.</p>
					
				<!-- search for a destination on google map -->	
				<div class="add-stop-search-box text-center">
			 		<%= form_tag trip_search_stop_path(@trip), class: "form-inline", method: :get do %>
			        	<%= text_field_tag :search, params[:search], class: "form-control margin-search-action" %>
			            <%= submit_tag "Add A Stop", class: "btn btn-primary margin-search-action" %>
					<% end %>
				</div>

			<% else %>
				
				<!-- google map showing all stops -->
				<div id="map_trip_stops"></div>

				<div class="add-stop-search-box text-center">
			 		<%= form_tag trip_search_stop_path(@trip), class: "form-inline", method: :get do %>
			        	<%= text_field_tag :search, params[:search], class: "form-control margin-search-action" %>
			            <%= submit_tag "Add A Stop", class: "btn btn-primary margin-search-action" %>
					<% end %>
				</div>


				<h3>Currently <%= pluralize(@trip.stops.size, 'stop') %> on this trip:</h3>
				
				<ol>
					<%= render @trip.stops.order("begin_date ASC") %>
				</ol>
			
			<% end %>
		</div>

	</div><!--  /col -->
</div>


<!-- google map script -->
<script>

<% if !@trip.stops.blank? %>

handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map_trip_stops'}}, function(){
  markers = handler.addMarkers(<%= @hash_trip_stops.to_json.html_safe %>);

	<% if @trip.stops.size == 1 %>
		// to center on a marker
		handler.map.centerOn(markers[0]); 
		// to set the map zoom
		handler.getMap().setZoom(4);
	<% else %>
		handler.bounds.extendWith(markers);
		handler.fitMapToBounds();
	<% end %> 

  polylines = handler.addPolylines(
    [
		<%= @hash_trip_stops.to_json.html_safe %>    
	],
    { 
		strokeColor: "#b94a48",
		strokeOpacity: 0.5	,
		strokeWeight: 5,
    }
  );

  handler.bounds.extendWith(polylines);

});

<% end %>

</script>

