<h1>Trip Details</h1>

<div style='width: 800px;'>
  <div id="map_trip_stops" style='width: 800px; height: 400px;'></div>
</div>

<%= render partial: 'trip', locals: { trip: @trip}  %>


<p> <%= link_to '<< Back To All Trips', trips_path %></p>

<hr>

<!-- show stops on a trip -->
<% if @trip.stops.blank? %>
	<p>Currently you have no stop on this trip.</p>
<% else %>
	<p>Currently you have <%= pluralize(@trip.stops.size, 'stop') %> on this trip.</p>
	<ul>
		<%= render @trip.stops.order("begin_date ASC") %>
	</ul>	
<% end %>

<hr>

<!-- user searches for a destination that could be a country, region or city -->
<%= simple_form_for :search, url: trip_path, method: :get do |f| %>
	<%= f.input :destination, label: 'Search for a destination to add to your trip:'%>
	<%= f.submit 'Search' %>
<% end %>

<hr>

<!-- return search result -->
<% if params[:search] %>
	<%= render 'search_results' %>
<% end %>

<div style='width: 800px;'>
  <div id="map_city_results" style='width: 800px; height: 400px;'></div>
</div>


<script>

<% if !@trip.stops.blank? %>

handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map_trip_stops'}}, function(){
  markers = handler.addMarkers(<%= @hash_trip_stops.to_json.html_safe %>);

	<% if @trip.stops.size == 1 %>
		// to center on a marker
		handler.map.centerOn(markers[0]); 
		// to set the map zoom
		handler.getMap().setZoom(4);
	<% else %>
		handler.bounds.extendWith(markers);
		handler.fitMapToBounds();
	<% end %> 

  polylines = handler.addPolylines(
    [
		<%= @hash_trip_stops.to_json.html_safe %>    
	],
    { 
		strokeColor: "#b94a48",
		strokeOpacity: 0.5	,
		strokeWeight: 5,
    }
  );

  handler.bounds.extendWith(polylines);

});

<% end %>

<% if !@city_results.blank? %>
	handler_city_results = Gmaps.build('Google');
	handler_city_results.buildMap({ provider: {}, internal: {id: 'map_city_results'}}, function(){
	  markers = handler_city_results.addMarkers(<%= @hash_city_results.to_json.html_safe %>);
	  
		<% if @city_results.size == 1 %>
			// to center on a marker
			handler_city_results.map.centerOn(markers[0]); 
			// to set the map zoom
			handler_city_results.getMap().setZoom(4);
		<% else %>
	  		handler_city_results.bounds.extendWith(markers);
	  		handler_city_results.fitMapToBounds();
	  	<% end %>

	});
<% end %>

</script>

