<div class="comment clearfix">
	<div class="avatar-image-comment">
		<div><%= link_to image_tag(comment.user.avatar.url(:thumb)), user_path(comment.user) %></div>
		<div class="name-comment"><%= comment.user.fullname %></div>
	</div>
	<div>
		<%= comment.body %>	
		<% if can? :update, comment %>
			<%= link_to "Edit", edit_trip_comment_path(@trip, comment), class: "btn btn-warning btn-xs" %>
			<%= link_to "Delete", trip_comment_path(@trip, comment), class: "btn btn-danger btn-xs", method: :delete, data: { confirm: "Are you sure?" } %>
		<% end %>
	</div>
</div>