<li class="single-trip-stop">
	<p>
		<strong>
		<%= stop.city.blank? ? "" : "#{stop.city.name}, "%>

		<%= stop.region.blank? ? "" : "#{stop.region.name}, " %>

		<%= stop.country.blank? ? "" : "#{stop.country.name}" %>
		</strong>
	</p>

	<p>
		<i class="fa fa-calendar"></i> <%= stop.begin_date.blank? ? "" : stop.begin_date %>
		~
		<i class="fa fa-calendar"></i> <%= stop.end_date.blank? ? "" : stop.end_date %>
	</p>

	<p><%= stop.description %></p>

	<p>
		<%= link_to 'Edit', edit_trip_stop_path(stop.trip, stop), class: "btn btn-warning btn-xs" %>
		<%= link_to 'Remove', trip_stop_path(stop.trip, stop), method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-danger btn-xs" %>
	</p>
</li>