<li class="single-trip-stop">
	<p>
		<strong>
		<%= stop.city.blank? ? "" : "#{stop.city.name}, "%>

		<%= stop.region.blank? ? "" : "#{stop.region.name}, " %>

		<%= stop.country.blank? ? "" : "#{stop.country.name}" %>
		</strong>
	</p>

	<% if !(stop.begin_date.blank? and stop.end_date.blank?) %>
		<p>
			<i class="fa fa-calendar"></i> <%= stop.begin_date.blank? ? "" : stop.begin_date %>
			~
			<i class="fa fa-calendar"></i> <%= stop.end_date.blank? ? "" : stop.end_date %>
		</p>
	<% end %>

	<p><%= stop.description %></p>


	<% if (controller.controller_name == 'stops' && controller.action_name == 'search_stop') or (controller.controller_name == 'stops' && controller.action_name == 'new') %>
		
	<% else %>
		<p>
			<% if can? :update, @trip %>
				<%= link_to 'Edit', edit_trip_stop_path(stop.trip, stop), class: "btn btn-warning btn-xs" %>
				<%= link_to 'Remove', trip_stop_path(stop.trip, stop), method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-danger btn-xs" %>
			<% end %>
		</p>

	<% end %>
</li>